<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyz.dangxia.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zyz.dangxia.model.UserDO">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="phone" jdbcType="BIGINT" property="phone"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="icon_id" jdbcType="INTEGER" property="iconId"/>
        <result column="credit" jdbcType="INTEGER" property="credit"/>
        <result column="balance" jdbcType="DOUBLE" property="balance"/>
        <result column="integral" jdbcType="DOUBLE" property="integral"/>
        <result column="register_date" jdbcType="TIMESTAMP" property="registerDate"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, phone, password, icon_id, credit, balance, integral, register_date
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.zyz.dangxia.model.UserDO">
    insert into user (id, name, phone, 
      password, icon_id, credit, 
      balance, integral, register_date
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=BIGINT}, 
      #{password,jdbcType=VARCHAR}, #{iconId,jdbcType=INTEGER}, #{credit,jdbcType=INTEGER}, 
      #{balance,jdbcType=DOUBLE}, #{integral,jdbcType=DOUBLE}, #{registerDate,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.zyz.dangxia.model.UserDO">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="iconId != null">
                icon_id,
            </if>
            <if test="credit != null">
                credit,
            </if>
            <if test="balance != null">
                balance,
            </if>
            <if test="integral != null">
                integral,
            </if>
            <if test="registerDate != null">
                register_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=BIGINT},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="iconId != null">
                #{iconId,jdbcType=INTEGER},
            </if>
            <if test="credit != null">
                #{credit,jdbcType=INTEGER},
            </if>
            <if test="balance != null">
                #{balance,jdbcType=DOUBLE},
            </if>
            <if test="integral != null">
                #{integral,jdbcType=DOUBLE},
            </if>
            <if test="registerDate != null">
                #{registerDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.zyz.dangxia.model.UserDO">
        update user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=BIGINT},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="iconId != null">
                icon_id = #{iconId,jdbcType=INTEGER},
            </if>
            <if test="credit != null">
                credit = #{credit,jdbcType=INTEGER},
            </if>
            <if test="balance != null">
                balance = #{balance,jdbcType=DOUBLE},
            </if>
            <if test="integral != null">
                integral = #{integral,jdbcType=DOUBLE},
            </if>
            <if test="registerDate != null">
                register_date = #{registerDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.zyz.dangxia.model.UserDO">
    update user
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=BIGINT},
      password = #{password,jdbcType=VARCHAR},
      icon_id = #{iconId,jdbcType=INTEGER},
      credit = #{credit,jdbcType=INTEGER},
      balance = #{balance,jdbcType=DOUBLE},
      integral = #{integral,jdbcType=DOUBLE},
      register_date = #{registerDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="getByPhone" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where phone = #{phone,jdbcType=BIGINT}
    </select>
    <select id="getName" parameterType="java.lang.Integer" resultType="java.lang.String">
    select name from user where id = #{userId,jdbcType=INTEGER}
  </select>
</mapper>